<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      id="1"
      photoCover="https://miro.medium.com/v2/resize:fit:1358/0*KNqK1IFDqENcyGXS"
      cardTitle="Novo blog lançado"
      cardDescription="Veja o novo blog com Angular e Typescript!"
    ></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
      id="2"
      photoCover="https://miro.medium.com/v2/resize:fit:1400/1*moJeTvW97yShLB7URRj5Kg.png"
      cardTitle="Veja meu aprendizado em Typescript!"
    ></app-small-card>

    <app-small-card
      id="3"
      photoCover="https://hermes.dio.me/articles/cover/a4b5221c-5d38-4f82-830e-78a655b87de6.jpg"
      cardTitle="JavaScript é incrível! Saiba mais"
    ></app-small-card>

    <app-small-card
      id="4"
      photoCover="https://www.thoughtco.com/thmb/094YF3bQBiuV_13n92GFQZWkM7k=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/JavaScript-58acbb8a3df78c345bad32c2.jpg"
      cardTitle="Praticando programação"
    ></app-small-card>
  </div>
</div>
